.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.user{
  text-align: center;
}

.user img{
  border-radius: 50%;
}

.followerContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.follower{
  width: 25%;
  padding: 2%;
}

.follower img{
  max-width: 100px;
}

p{
  width: 400px;
  margin: 0 auto;
}
